#page-content-wrapper{
    top:0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border-color:#1BBC9D;
}
.navbar-default{
    border-top-width:0;
    border-left-width:0;
    border-right-width:0;
    margin:0;
    border-radius:0;
}
.navbar-inTop{
	background-color:rgba(0,0,0,0.20);
	border-bottom-width: 0;
}
section{
    padding-top:15px;
    padding-bottom:100px;
}
.img-circle{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border:20px solid #CCC;
}
.footer-default{
    background-color:#FFF;
    width:100%;
    height:60px;
    padding: 20px;
}
.footer-default .container p{
    margin-top:20px;
}
.footer-default .footer-kanan a {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 8px;
    background-color: #1bbc9d;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 1px;
}
.footer-default .footer-kiri {
    width: auto;
    float: left;
}
.footer-default .footer-kanan {
    float: right;
    position: relative;
    bottom: 6px;
}
p.footer-links a{
    color: #1bbc9d;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    transition: ease-in-out 0.1s;
    -webkit-transition: ease-in-out 0.1s;
}
p.footer-links a:hover{
    border-bottom: 2px solid #1bbc9d;
}
#home{
    background:url(../img/bannerbg1.jpg) no-repeat center;
    background-size:cover;
    height:640px;
    padding-top:200px;
    color:#FFF;
}
#contact{
    background:url(../img/bannerbg2.jpg) no-repeat center fixed;
    background-size:cover;
    color:#FFF;
}
#adminpage p.subtitle,
#contact p.subtitle{
    color:rgba(255,255,255,0.50);
}
#services{
/*	padding-bottom:70px;*/
}
#adminpage{
    background:url(../img/quote-bg.jpg) no-repeat center fixed;
    background-size:cover;
    color:#FFF;
	padding-bottom:25px;
}
h2.title{
    font-size:2.5em;
}
p.subtitle{
    font-size:1.30em;
    color:rgba(0,0,0,0.50);
    margin-top:-15px;
    margin-bottom:25px;
}
p.desc{
    font-size:1em;
/*    text-align:justify;*/
}
#home h1, h2{
    margin-bottom:25px;
}
#home h1{
    font-weight:bold;
    font-size:4em;
}
#home h2{
    font-weight:normal;
}
@media (max-width:768px){
    #home h1{
        font-size:3em;
    }
    #home h2{
        font-size:1.8em;
    }
}
.btn.btn-transparent{
    font-size:1.2em;
    padding:15px 45px;
    background-color:rgba(0,0,0,0.5);
}
.portfolio-card{
    display:block;
    position: relative;
    margin:0 auto;
    width:300px;
    height:400px;
    text-align:center;
}
.portfolio-card img.upper,
.portfolio-card img.img-team{
    filter:grayscale(80%);
    font-size:3em;
    width:inherit;
}
.portfolio-card img.upper{
    border-radius:10px 10px 0px 0px;
}
.portfolio-card img.upper:hover,
.portfolio-card img.img-team:hover{
    filter:grayscale(0%);
    transition:0.5s ease;
    cursor:pointer;
}
.portfolio-card .lower h3{
    font-size:1.6em;
    margin:10px 0px 5px 0px;
}
.portfolio-card .lower{
    height:50px;
    width:inherit;
    border:1px solid transparent;
    border-top-color:transparent;
    border-radius:0px 0px 5px 5px;
}
.portfolio-card .lower span.subtitle{
    color:rgba(0,0,0,0.70);
}

@media (max-width:992px){
    .portfolio-card{
        width:200px;
		height:300px;
    }
}

@media (max-width:320px){
    .footer-default {
        text-align: center;
    }
    .footer-default .footer-kanan {
        float: none;
    }
    .footer-default .footer-kiri {
        width: 100%;
    }
    .social-link{
        margin-top: 40px;
        margin-bottom: 20px;
    }
}